
body{}
.container {
    width: 1200px;
    margin: auto;
    min-width: 1200px
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

h2, h3, h4 {
    font-weight: normal
}

.navbar, .header{min-width: 1200px}

/* Start Navbar */

.navbar {
    font-size: 18px;
    height: 0;
    color: #FFF;
    position: relative;
    z-index: 2
}

.navbar .brand {
    float: left;
    width: 50%;
    text-transform: uppercase;
    margin-top: 10px
}

.navbar .links {
    float: left;
    width: 50%;
    margin-top: 25px
}

.navbar .links li {
    display: inline-block;
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 2px solid transparent
}

.navbar .links li a {
    color: #FFF;
    text-decoration: none
}

.navbar .links li.active a,
.navbar .links li a:hover {
    color: #1abc9c
}

.navbar .links li.active,
.navbar .links li:hover {
    border-bottom: 2px solid #1abc9c;
}

/* End Navbar */

/* Start Header */

.header {
    background: url("#{resource['images/homeImage2.jpg']}");  
    position: relative
}

.header .overlay {
    background-color: rgba(0, 0 ,0 , 0.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    z-index: 1
}

.header .bx-wrapper {
    height: 100%
}

.header .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: 0;
    background: none;
    height: 100% !important;
    text-align: center
}

.header .bxslider {
    height: 100%
}

.header .bxslider li {
    display: block
}

.header .bxslider li h2 {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: bold
}

.header .bxslider li h2 span {
    color: #1abc9c;
}

.welcome{
	color: white;
	font-size: 44px;
	text-align: center; 
	position: absolute;
	display: inline-block;
}